In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('~/Downloads/anime.csv')
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
rating = pd.read_csv('~/Downloads/rating.csv')
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [8]:
data = pd.merge(df, rating, on = 'anime_id')
data.head()

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1

Karena pada DataFrame df sudah ada kolom rating, maka kolom rating yang awalnya ada di df berubah menjadi rating_x, kolom rating yang berasal dari DataFrame rating berubah menjadi rating_y

In [9]:
ratings = pd.DataFrame(data.groupby('name')['rating_y'].mean())
ratings['ratings count'] = pd.DataFrame(data.groupby('name')['rating_y'].count())
ratings

                                                    rating_y  ratings count
name
&quot;0&quot;                                       2.769231             26
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...  0.000000              2
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...  5.774936            782
&quot;Bungaku Shoujo&quot; Memoire                  6.155748            809
&quot;Bungaku Shoujo&quot; Movie                    6.457980           1535
...                                                      ...            ...
xxxHOLiC Kei                                        6.720774           3413
xxxHOLiC Movie: Manatsu no Yoru no Yume             6.313742           2365
xxxHOLiC Rou                                        6.403173           1513
xxxHOLiC Shunmuki                                   6.238602           1974
◯                                                   3.000000              6

[11196 rows x 2 columns]

In [11]:
mat = data.pivot_table(index = 'user_id', columns = 'name', values = 'rating_y')
mat.head()

name,&quot;0&quot;,"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,&quot;Bungaku Shoujo&quot; Memoire,&quot;Bungaku Shoujo&quot; Movie,&quot;Eiji&quot;,.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,.hack//Gift,...,makemagic,"on-chan, Yume Power Daibouken!",s.CRY.ed,vivi,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,◯
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN

mat dibuat agar memudahkan kita untuk mendapatkan data user rating dan judul animenya

In [14]:
Naruto_rating = mat['Naruto']
Naruto_rating

user_id
1       -1.0
2        NaN
3        8.0
4        NaN
5        6.0
        ...
73512    NaN
73513    NaN
73514    NaN
73515    NaN
73516    NaN
Name: Naruto, Length: 73515, dtype: float64

In [15]:
similar_Naruto = mat.corrwith(Naruto_rating)

Hasil didapatkan dengan menggunakan mat.corrwith()

In [17]:
corr_Naruto = pd.DataFrame(similar_Naruto, columns = ['Correlation'])
corr_Naruto.dropna(inplace = True)
corr_Naruto['ratings count'] = ratings['ratings count']
corr_Naruto[corr_Naruto['ratings count'] > 1500].sort_values('Correlation', ascending = False).head(20)

                                         Correlation  ratings count
name
Naruto                                      1.000000          25925
Appleseed Saga Ex Machina                   0.747767           1752
Bleach                                      0.720531          12845
Aa! Megami-sama! Movie                      0.714104           1835
Grenadier: Hohoemi no Senshi                0.705455           1850
InuYasha                                    0.704638           9328
Kamisama Kazoku                             0.703009           1638
Shuffle! Memories                           0.700823           1566
Ikkitousen: Dragon Destiny                  0.699509           2435
Nagasarete Airantou                         0.699122           2409
Rozen Maiden: Träumend                      0.696748           4008
Shaman King                                 0.696407           7814
Katekyo Hitman Reborn!                      0.694202           6739
The Law of Ueki                             0.693139           2186
Ikkitousen: Great Guardians                 0.692961           1740
Tenjou Tenge                                0.691476           5150
Mahoromatic: Automatic Maiden               0.691444           1746
Sekirei                                     0.691413           7924
Peace Maker Kurogane                        0.690861           1559
Rurouni Kenshin: Meiji Kenkaku Romantan     0.690855           7900