In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler, Normalizer, Binarizer

In [6]:
df = pd.read_csv('~/Downloads/melb_data.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [9]:
df_test = df[['Price', 'Distance', 'Car', 'Landsize', 'Rooms', 'Bedroom2', 'Bathroom']]
df_test.head()

       Price  Distance  Car  Landsize  Rooms  Bedroom2  Bathroom
0  1480000.0       2.5  1.0     202.0      2       2.0       1.0
1  1035000.0       2.5  0.0     156.0      2       2.0       1.0
2  1465000.0       2.5  0.0     134.0      3       3.0       2.0
3   850000.0       2.5  1.0      94.0      3       3.0       2.0
4  1600000.0       2.5  2.0     120.0      4       3.0       1.0

# 1. Standard Scaler

In [11]:
df_test['Prize Std Scl'] = StandardScaler().fit_transform(df_test[['Price']])
df_test.head()

/Users/muhammadramzy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157

# 2. Min Max Scaler

In [13]:
df_test['Price MinMax Sc'] = MinMaxScaler().fit_transform(df_test[['Price']])
df_test.head()

/Users/muhammadramzy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price MinMax Sc
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.156478
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,0.106562
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.154795
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,0.085810
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.169938

In [14]:
df_test['Price MaxAbs Sc'] = MaxAbsScaler().fit_transform(df_test[['Price']])
df_test.head()

/Users/muhammadramzy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price MinMax Sc,Price MaxAbs Sc
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.156478,0.164444
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,0.106562,0.115000
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.154795,0.162778
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,0.085810,0.094444
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.169938,0.177778

In [15]:
df_test['Price Robust Sc'] = RobustScaler().fit_transform(df_test[['Price']])
df_test.head()

/Users/muhammadramzy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price MinMax Sc,Price MaxAbs Sc,Price Robust Sc
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.156478,0.164444,0.848529
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,0.106562,0.115000,0.194118
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.154795,0.162778,0.826471
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,0.085810,0.094444,-0.077941
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.169938,0.177778,1.025000

In [16]:
df_test['Price Norm'] = Normalizer().fit_transform(df_test[['Price']])
df_test.head()

/Users/muhammadramzy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price MinMax Sc,Price MaxAbs Sc,Price Robust Sc,Price Norm
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.156478,0.164444,0.848529,1.0
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,0.106562,0.115000,0.194118,1.0
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.154795,0.162778,0.826471,1.0
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,0.085810,0.094444,-0.077941,1.0
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.169938,0.177778,1.025000,1.0